@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-charleston_green text-gainsboro;
  font-family: "Roboto", sans-serif;
}
